{{define "content"}}
    <style>
        .hidden {
            display: none;
        }
    </style>
    <h1>Videos</h1>
        <div style="display:flex;flex-direction: column">
            <iframe src="/grafana/d/compare" style="min-height: 400px"></iframe>


        </div>

{{end}}
