{{define "nav"}}
    <ul>
        <li>
            <a href="/sponsor/dash">
                Dashboard
            </a>
        </li>
        <li>
            <a href="/logout">
                Log out
            </a>
        </li>
    </ul>


{{end}}

{{/*{{define "content"}}*/}}
{{/*    {{template "content" .}}*/}}
{{/*{{end}}*/}}